
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-bg-color: #e9e9e9;
    --primary-text-color: #424242;
    --accent-color: #FF3F3C;

}

body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;

}

header {
    padding: 20px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-weight: 600;
    font-family: sans-serif;
}

main {
    background: url(polaroid\ \(1\)\ \(1\).png) no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.hero {
    text-align: center;
    min-height: 800px;
}

.hero h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.details ul li {
    background: url(wifi-solid-full.svg) no-repeat center left;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 35px;
}


.details ul li.WIFI {
    background: url(wifi-solid-full.svg) no-repeat center left;
      list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 35px;
    
    
}

.details ul li.cloud {
    background: url(cloud-arrow-up-solid-full.svg) no-repeat center left;

    
}

.details ul li.QR {
    background: url(qrcode-solid-full.svg) no-repeat center left;
    
}

.details ul li.Share {
    background: url(photo-film-solid-full.svg) no-repeat center left;
   list-style: none;
      

}

.details h3 {
    font-size: 50px;
    text-align: center;
    font-weight: 1500px;
    font-family: sans-serif;
}

.cta h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 1500px;
}

.email-input {
    background: #e9e9e9;
    width: 300px;
    text-align: center;
  padding: 10px 50px;
    display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-button {
    background: #FF3F3C;
    color: white;
    text-align: center;
    padding: 10px 50px;
      display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #ddd;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

p {
    margin-right: 20px;
}


